:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --text-color: #fff;
  --blue-color: #0000ff;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  color: var(--text-color);
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: var(--text-color);
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.grid{
  display: grid;
  padding: 0 2.4rem;
  gap:10px;
}

.grid-three--cols{
  grid-template-columns: repeat(3,1fr);
}